body {
  margin: 0;
}

.Main {
  background-color: #1A1B21;
  color: white;
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 30px;
}

.person-function {
  color: #F3BF99;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 32px;
}

.email {
  background-color: white;
  color: black;
}

.linkd {
  background-color:#5093E2;
  color: white; 
}

.Main > section {
  text-align: left;
}

.Footer {
  background-color: #161619;
  color: white;
  width: 30%;
  margin-left: 35%;
}